@keyframes fadeInOut {
  0%, 20% {
    opacity: 0; /* Hidden */
    transform: translateY(20px); /* Slight downward movement */
  }
  30%, 80% {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
  }
  100% {
    opacity: 0; /* Hidden again */
    transform: translateY(20px); /* Back to downward movement */
  }
}

.product-card-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment */
}

.product-card-features-card {
  animation: fadeInOut 4s infinite ease-in-out; /* 3 seconds, repeating infinitely */
  flex: 1 1 30%; /* Adjust size and spacing, if needed */
  opacity: 0; /* Initial state is hidden */
  text-align: center; /* Align text to center */
}




.product-card-img {
    position: relative; /* Allows positioning child elements */
    width: 50%; /* Adjust the image size */
    height: auto; /* Maintain aspect ratio */
    margin: auto;
    overflow: hidden; /* Ensures elements stay within the container */
  }
  
  .product-card-img img {
    max-height: 300px;
    width: 100%;
    object-fit:contain;
  }
  
  .product-card-img .text-overlay {
    position: absolute;
    bottom: -2; /* Align text to the bottom */
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Positioned out of view */
    transition: opacity 0.4s ease, transform 0.4s ease;/* Initially hidden */
  }
  
  .product-card:hover .text-overlay {
    /* Move text into view */
    opacity: 1; 
    transform: translateY(0);/* Make text visible */
  }
 
  
  