.product-card-img {
    position: relative; /* Allows positioning child elements */
    width: 50%; /* Adjust the image size */
    height: auto; /* Maintain aspect ratio */
    margin: auto;
    overflow: hidden; /* Ensures elements stay within the container */
  }
  
  .product-card-img img {
    max-height: 300px;
    width: 100%;
    object-fit:contain;
  }
  
  .product-card-img .text-overlay {
    position: absolute;
    bottom: -2; /* Align text to the bottom */
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Positioned out of view */
    transition: opacity 0.4s ease, transform 0.4s ease;/* Initially hidden */
  }
  
  .product-card:hover .text-overlay {
    /* Move text into view */
    opacity: 1; 
    transform: translateY(0);/* Make text visible */
  }