
  @keyframes textColorChange {
    0% {
      color: transparent;
    }
    50% {
      color: #fc6f10;
    }
    100% {
      color: transparent;
    }
  }
  
  .section.commitment p {
    color: #fc6f10;
    animation: textColorChange 5s ease-in-out infinite;
  }
  

